{% extends "base.html" %}

{% block content %}
<article id="main">
		<header>
			<h2>About</h2>
			<p>Our mission and values</p>
 		</header>     
      <!-- this part controls the whitespace at the top of the page -->


  <section class="wrapper style5">
	  <div class="inner">
      <section id="three" class="wrapper style3 special">
				<div class="inner">
<!-- <section id="two" class="wrapper alt style2"> -->
  <section class="spotlight">
    <div class="image"><img src="static/images/about01.png" alt="" /></div><div class="content">
      <h2>What we found as a problem.</h2>
      <p>Loneliness is a pressing issue in university. In 2017, 63.1% of nearly 48,000 college students indicated that they had felt “very lonely” in the previous 12 months [1]. This phenomenon is also prevalent in us. “In a large university bigger than my village, making friends is hard as hell,” says a Berkeley student who would like to keep anonymous. </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="static/images/about02.png" alt="" /></div><div class="content">
      <h2>What we spotted as a solution.</h2>
      <p>We encounter 3 million faces on average in our lifetime. The study shows that people tend to underestimate the benefits brought by conversing with strangers. </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="static/images/logo.png" alt="" /></div><div class="content">
      <h2>That's how Fifteen came to life!</h2>
      <p>Fifteen aims to leverage the unexplored potential of with-stranger conversations to improve the well-being of students and reduce loneliness on college campuses. We aspire to bring college students closer in an adventurous way and cultivate a student community with tighter bonds. </p>
    </div>
  </section>
</section>
</article>



<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Fifteen</h2>
      <p>Fifteen is a platform that connects university students and encourages them to meet up with a stranger for fifteen minutes every day. We use our algorithm to pair up our users to a stranger and exchange basic information. They first chat with each other online anonymously, and can decide if they want to spend fifteen minutes together in real life. 
      </p>
      <p> We also create visualizations of people’s connections for our user, giving them the first-hand insight on how their community is bonded together.</p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
    </ul>
  </div>
<!-- </section> -->


			</div>
		</section>
</article>
{% endblock %}