<html>
	<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Fifteen</title>
    {% endif %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
  </head>
    
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
            
						<h1>
              {% if header %}
              <a href="index.html">{{ header }}</a>
              {% else %}
              <a href="index.html"><img src="static/favicon.ico" style = 'height:40%;'>   Fifteen</imgFifteen></a>
              
              {% endif %}
            </h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/home">Home</a></li>
                      <li><a href="/survey">Survey</a></li> 
											<li><a href="/matches">Matches</a></li>
											<li><a href="/about">About</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

          {% block content %}
          {% endblock %}

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Fifteen</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>
          
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>