{% extends "base.html" %}

{% block content %}
<!-- Main -->
	<article id="main">
		<header>
			<h2>You're all set!</h2>
			<p>Congrats on taking the first step towards friendship</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">

			<p>**Your matches will be ready within a week**</p>

  			<h3>What now?</h3>
				<p>We will process your survey answers and create matches for you! </p>

				<p>You will receive one match per day, which will reset to a new match the next day should you choose to not act upon it. We highly recommend to simply go for it and reach out-- there's no point in waiting around! Get out there!</p>

				<hr />

				
				<p>You may access your daily match <a href=/matches>here</a>, or you may also click on "Matches" in the side menu to access the same information. If it has not been a full week since you completed the survey, you may not see any matches yet.</p>

				<p>If you have any questions or concerns, please reach out at fifteen_questions@fifteen.edu or call us at (439)934-3339.</p>

			</div>
		</section>
	</article>
  
{% endblock %}