{% extends "base.html" %}

{% block content %}

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Fifteen</h2>
    <p>Fifteen minutes for friendship,<br />
    best friendship, or just fun times.<br />
    It's up to you.</p>
    <ul class="actions special">
      <li><a href="/survey" class="button primary">Let's do it!</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">More cool info</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>What is this?</h2>
      <p>Ever found yourself eating alone in the dining hall? Had no one to do homework with? Had no one to play ball in the gym with? No friends for Pokemon Go raids?
      </p>
      <p>That's why Fifteen exists. Fifteen minutes, any time you want, and we'll help you make a new friend. We promise, it's magic.</p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="image"><img src="static/images/pic01.jpg" alt="" /></div><div class="content">
      <h2>Does this work?</h2>
      <p>Trust us, we have an algorithm. We use our questionnaire (it's funny, you should take it) to classify you and find you fun, optimal friendships.</p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="static/images/pic02.jpg" alt="" /></div><div class="content">
      <h2>Safety Check</h2>
      <p>We check users' government issued IDs and verify their school emails to ensure your safety. </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="static/images/pic03.jpg" alt="" /></div><div class="content">
      <h2>Personalized Experience</h2>
      <p>Our "match bar" enables the users to decide how similar the person they want to hang out with, and customized their experiences.  </p>
    </div>
  </section>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>I promise we don't bite</h2>
      <p>Fifteen minutes of your time could save you fifteen percent or more on health insurance :)</p>
    </header>
    <ul class="actions stacked">
      <li><a href="/survey" class="button fit primary">Go!</a></li>
      <li><a href="/about" class="button fit">About</a></li>
    </ul>
  </div>
</section>

{% endblock %}