{% extends "base.html" %} 

{% block content %}

<article id="main">
	<header>
		<h2>Matches</h2>
    <p>Your favorite people... or not.</p>
  </header>
  <section class="wrapper style5">
	  <div class="inner">

	<!-- Gallery -->
	<div class="gallery style2 medium lightbox onscroll-fade-in">
		<article>
			<a href="static/images/pic05.jpg" class="image">
				<img src="static/images/pic05.jpg" alt="" />
			</a>
			<div class="caption">
		    <h3>Ipsum Dolor</h3>
        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
				<ul class="actions fixed">
				  <li><span class="button small">Details</span></li>
				</ul>
			</div>
		</article>
	</div>

<iframe height='300px' width="500px" src="https://socket-io-chat-example--mraheja.repl.co/"></iframe>
	  </div>
  </section>
</article>

          

{% endblock %}