{% extends "base.html" %} 

{% block content %}

<article id="main">
	<header>
		<h2>Matches</h2>
    <p>Your favorite people... or not.</p>
  </header>

  <section class="wrapper style5">
	  <div class="inner">
      <section id="three" class="wrapper style3 special">
				<div class="inner">

					<header class="major">
						<h2>Today's Match</h2>
						<p>Feel free to talk! Your information is always anonymous until you choose otherwise. Have fun :)</p>
					</header>

					<ul class="features">
            <li class="icon solid fa-laptop">
				  		<h3>{{ current.general.name }}</h3>
							<p>Bio: {{ current.general.bio }}</p>
              <p>Interests: {{ current.general.interests }}</p>
					  </li>
            <li>
              <div class="iframe-container">
			  				<iframe src="https://socket-io-chat-example--mraheja.repl.co/"></iframe>
              </div>
            </li>
            
					</ul>
	  		</div>
  		</section>

<!--  -->
<!-- # some sort of linked list garbage -->

      <section id="three" class="wrapper style3 special">
				<div class="inner">

					<header class="major">
						<h2>Past Matches</h2>
						<p>All your wonderful and not so wonderful experiences, all in one place.</p>
					</header>

					<ul class="features">
            <li class="icon solid fa-laptop">
				  		<h3>{{ past.general.name }}</h3>
							<p>Bio: {{ past.general.bio }}</p>
              <p>Interests: {{ past.general.interests }}</p>
					  </li>
            <li>
              <div class="iframe-container">
			  				<iframe src="https://socket-io-chat-example--mraheja.repl.co/"></iframe>
              </div>
            </li>
            
					</ul>
	  		</div>
  		</section>





	  </div>
  </section>
</article>


{% endblock %}