{% extends "base.html" %} 

{% block content %}

<article id="main">
	<header>
		<h2>Matches</h2>
    <p>Your favorite people... or not.</p>
  </header>

  <section class="wrapper style5">
	  <div class="inner">
      <section id="three" class="wrapper style3 special">
				<div class="inner">

					<header class="major">
						<h2>Today's Match</h2>
						<p>Feel free to talk! Your information is always anonymous until you choose otherwise. Have fun :)</p>
					</header>

					<ul class="features">
            <li class="icon solid fa-dove">
              <div class="image" border-radius=50%><img src={{ current.general.image }} alt="" class="responsive" border-radius=50%/></div>                
              </br>
				  		<h3 align="center">{{ current.general.name }}</h3>
							<p align="center">Bio: {{ current.general.bio }}</br>
              Interests: {{ current.general.interests }}</p>
					  </li>
            <li>
              <div class="iframe-container">
			  				<iframe src="https://socket-io-chat-example--mraheja.repl.co/"></iframe>
              </div>
            </li>
            
					</ul>
	  		</div>
  		</section>

<!--  -->
<!-- # some sort of linked list garbage -->
<p></p>
      <section id="three" class="wrapper style3 special">
				<div class="inner">

					<header class="major">
						<h2>Past Matches</h2>
						<p>All your wonderful and not so wonderful experiences, all in one place.</p>
					</header>

					<ul class="features">

            {% for user in past %}
            <li class="icon solid fa-heart">
              <div class="image" border-radius=50%><img src={{ user.general.image }} alt="" class="responsive" border-radius=50%/></div>   
				  		<h3>{{ user.general.name }}</h3>
							<p>Bio: {{ user.general.bio }}</br>
              Interests: {{ user.general.interests }}</p>
					  </li>
            {% endfor %}
            
					</ul>
	  		</div>
  		</section>





	  </div>
  </section>
</article>


{% endblock %}