{% extends "base.html" %}

{% block content %}
<!-- Main -->
	<article id="main">
		<header>
			<h2>What you're all about</h2>
			<p>This survey is completely confidential. Your answers will only be used to</br> create the perfect match. We won't even look at them!</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">

        <section>
			<h4>Form</h4>
  				<form method="post" action="#">
						<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall">
								<input type="text" name="name" id="demo-name" value="" placeholder="Name" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="text" name="phone_number" id="demo-text" value="" placeholder="Phone Number" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="email" id="demo-email" value="" placeholder="Email" />
							</div>
							<div class="col-12">
  							<select name="year" id="demo-category">
									<option value="">- Year -</option>
									<option value="1">Freshman</option>
									<option value="2">Sophomore</option>
									<option value="3">Junior</option>
									<option value="4">Senior</option>
								</select>
							</div>
							<div class="col-12">
							<select name="thinking" id="demo-category">
									<option value="">1. On a scale of one to Britney Spears, I am...</option>
									<option value="1">confident in my life choices</option>
									<option value="2">just happy to be here</option>
									<option value="3">doing alright</option>
									<option value="4">running out of hair to dye</option>
									<option value="5">debating a new city to move to</option>
								</select>
							</div>
							<div class="col-12">
							<select name="extroversion" id="demo-category">
									<option value="">2. My roommates are...</option>
									<option value="1">my best friends</option>
									<option value="2">my only friends</option>
									<option value="3">never around</option>
									<option value="4">alright</option>
									<option value="5">terrible</option>
								</select>
							</div>
							<div class="col-12">
							<select name="extroversion" id="demo-category">
									<option value="">3. On weekends, I like to...</option>
									<option value="1">party</option>
									<option value="2">go on a hike</option>
									<option value="3">study</option>
									<option value="4">read a book</option>
									<option value="5">sleep in</option>
								</select>
							</div>
							<div class="col-12">
							<select name="judging" id="demo-category">
									<option value="">4. My favorite place is ...</option>
									<option value="1">the club</option>
									<option value="2">the beach</option>
									<option value="3">the mountains</option>
									<option value="4">my room</option>
									<option value="5">the library</option>
								</select>
							</div>
							<div class="col-12">
							<select name="judging" id="demo-category">
									<option value="">5. My dream job is...</option>
									<option value="1">CEO</option>
									<option value="2">tour guide</option>
									<option value="3">pilot</option>
									<option value="4">farmer</option>
									<option value="5">baker</option>
								</select>
							</div>
							<div class="col-12">
							<select name="thinking" id="demo-category">
									<option value="">6. On Valentine's Day, I would like to...</option>
									<option value="1">go out</option>
									<option value="2">be with friends</option>
									<option value="3">have a nice dinner</option>
									<option value="4">watch a movie</option>
									<option value="5">stay home</option>
								</select>
							</div>
							<div class="col-12">
							<select name="sensing" id="demo-category">
									<option value="">7. I feel closest to ...</option>
									<option value="1">my parents</option>
									<option value="2">my siblings</option>
									<option value="3">my friends</option>
									<option value="4">my pet</option>
									<option value="5">myself</option>
								</select>
							</div>
							<div class="col-12">
							<select name="sensing" id="demo-category">
									<option value="">8. I wish I was more...</option>
									<option value="1">interesting</option>
									<option value="2">patient</option>
									<option value="3">likeable</option>
									<option value="4">social</option>
									<option value="5">outgoing</option>
								</select>
							</div>
							<div class="col-12">
							<select name="judging" id="demo-category">
									<option value="">9. Favorite app?</option>
									<option value="1">Snapchat</option>
									<option value="2">Instagram</option>
									<option value="3">Youtube</option>
									<option value="4">Netflix</option>
									<option value="5">None</option>
								</select>
							</div>
							<div class="col-12">
							<select name="random" id="demo-category">
									<option value="">10. ;)</option>
									<option value="1">DFDSDSK!!!</option>
									<option value="2">asdkfsdkf</option>
									<option value="3">3427823</option>
									<option value="4">_____</option>
									<option value="5">?</option>
								</select>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Submit" class="primary" /></li>
								</ul>
							</div>
						</div>
					</form>
				</section>
	</article>
  
{% endblock %}